body{
	font-family: arial;
	width: 1280px;
	padding: 0;
	margin: 0 auto;
	outline: 1px solid black;
}
header{
	background-image: url(../image/nav-bg-image.jpg);
	display: block;
	padding: 0;
	margin: 0 auto;
	height: 725px;
}
nav{
	background-color: #cbd9d9;
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 99;
	top: 30px;
}
nav ul{
	width: 1280px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
nav ul li{
	float: left;
}
nav ul li a{
	text-decoration: none;
	display: block;
	color: gray;
	padding: 20px;
	font-size: 150%;
}
nav ul li a:hover{
	color: blue;
	border-bottom: 4px solid blue;
}
nav ul li img{
	padding: 0 100px;
	display: block;
	vertical-align: middle;
	height: 72px;
}
/********** Help & Guide (Showrooms, Service Center, Campaign & Promotion) **********/
.help-guide{
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #88bed8;
	text-align: center;
}
.help-block{
	display: inline-block;
	width: 30%;
	padding: 0;
	margin: 15px 0;
	color: white;
}
.help-block img{
	height: 70px;
	width: 70px;
	display: block;
	padding: 0;
	margin: 0 auto;
}
.help-block h3{
	padding: 5px 0;
	margin: 0;
}
.help-block-center{
	border-left: 1px solid white;
	border-right: 1px solid white;
}
/********** ARTICLE (ABOUT US) **********/
article h1{
	color: gray;
	margin: 0;
	padding: 15px 0 30px 0;
	text-align: center;
	font-size: 200%;
}
#about-us{
	display: block;
	width: 80%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
.about-us-description{
	width: 40%;
	margin: 0 auto;
	padding : 0 20px;
	display: inline-block;
	text-align: left;
}
.about-image{
	width: 30%;
	display: inline-block;
	margin: 0 auto;
}
.about-image img{
	height: 200px;
	width: 300px;
}
/********** ARTICLE (MODELS) **********/
#models{
	display: block;
	width: 80%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
.models-block{
	display: inline-block;
	padding: 0 5px;
	margin: 0;
	width: 25%;
	text-align: left;
}
.models-block img{
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}
.models-block h3{
	padding: 0;
	margin: 0;
	color: gray;
}
button{
	background-color: #88bed8;
	color: white;
	padding: 15px 35px;
	font-size: 125%;
	border: none;
	margin: 10px 0;
}
/********** ARTICLE (SHOPPING TOOLS) **********/
#shopping-tools{
	display: block;
	width: 80%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
#shopping-tools h4{
	color: gray;
}
.shopping-block{
	display: inline-block;
	width: 20%;
	height: 200px;
	padding: 0;
	margin: 0;
}
.shopping-block img{
	display: block;
	width: 120px;
	height: 123px;
	padding: 10px 0;
	margin: 0 auto;
}
/********** FOOTER (INFO) **********/
.footer-info{
	width: 100%;
	background-color: #88bed8;
	display: block;
	padding: 5px 0;
	margin: 0;
	text-align: center;
}
.footer-info-block{
	display: inline-block;
	width: 20%;
	height: auto;
	padding: 0 10px;
	margin: 0;
	color: white;
	text-align: left;
}
.footer-info-block img{
	display: block;
	width: 50px;
	height: 50px;
	padding: 5px;
	float: left;
}
.footer-info-block h3{
	padding: 20px 0;
	margin: 0;
	text-align: center;
}
.footer-info-block p{
	padding: 0;
	margin: 0;
}
.footer-info-center{
	border-left: 1px solid white;
	border-right: 1px solid white;
}
/********* FOOTER (NAVIGATION) **********/
.footer-navigation{
	width: 100%;
	background-color: #2f2d2e;
	display: block;
	padding: 5px 0;
	margin: 0;
	text-align: center;
}
.navigation-block{
	width: 20%;
	color: white;
	display: inline-grid;
	padding: 10px;
	text-align: left;
}
.navigation-block h2{
	padding: 0;
	margin: 0;
}
footer ul{
	list-style-type: none;
	padding: 10px 0;
	margin: 0;
}
footer ul li a{
	text-decoration: none;
	color: white;
}
footer ul li a h4{
	padding: 0;
	margin: 0;
}
.social-row img{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	padding: 2px 0;
	margin: 0;
}
.social-row h4{
	padding: 0;
	margin: 0;
	display: inline-block;
}
.copyright{
	background-color: black;
	color: white;
	padding: 1px 0;
	text-align: center;
}
@media screen and (max-width: 320px){

	body{
		width: 320px;
	}
	nav ul{
		width: 320px;
	}
	nav ul li a{
		display: none;
	}
	nav ul li img{
		padding: 0 15px;
	}
	header{
	background-image: url(../image/nav-bg-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 320px;
	}
	/*******************************************************************/
	.help-guide{
	padding: 10px 0;
	width: 100%;
	}
.help-block{
	display: block;
	width: 100%;
	margin: 0;
	color: white;
	text-align: left;
}
.help-block img{
	height: 40px;
	width: 40px;
	padding: 5px 15px;
	display: inline-block;
	vertical-align: middle;
}
.help-block h3{
	display: inline-block;
}
.help-block-center{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
/*********************************************/
#about-us{
	width: 100%;
}
.about-us-description{
	width: 90%;
}
.about-image{
	width: 100%;
}
.about-image img{
	display: inline-block;
	width: 48%;
	height: 150px;
}
/*****************************************/
#models{
	width: 100%;
}
.models-block{
	display: block;
	margin: 0 auto;
	width: 90%;
}
.models-block h3{
	text-align: center;
}
/**************************************/
#shopping-tools{
	width: 100%;
	text-align: left;
}
.shopping-block{
	padding: 0;
	display: block;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid black;
}
.shopping-block img{
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 0 20px;
	vertical-align: middle;
}
.shopping-block h4{
	display: inline-block;
}
/*********************************************/
.footer-info-block{
	display: block;
	width: 100%;
	text-align: left;
}
.footer-info-block img{
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	float: none;
}
.footer-info-block h3{
	display: inline-block;
	text-align: left;
}
.footer-info-block p{
	display: inline-block;
	padding-right: 20px;
}
.footer-info-center{
	border-left: none;
	border-right: none;
}
/***********************************************/
}