<!DOCTYPE html>
<html>
<head>

    <title>ROSE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel="stylesheet" href="css/ROSE.css" type="text/css">
    
</head>
<body>
    
    <header>
        <nav>
            <div id="nav-wrapper">
            
                <div id="burger">
                
                    <span></span>
                    <span></span>
                    <span></span>
                    
                </div>
                <div id="logo">
                
                    <img src="images/wordmark.png" alt="razer brand logo">
                    
                </div>
                <div id="navbar">
                
                    <ul>
                        <li>
                            <a href="#">PRODUCTS</a>
                            <ul class="subnav">
                                <li><a href="#">LAPTOPS</a></li>
                                <li><a href="#">MICE & MATS</a></li>
                                <li><a href="#">KEYBOARD</a></li>
                                <li><a href="#">HEADSET & AUDIO</a></li>
                                <li><a href="#">CONSOLE [PS4/XBOX]</a></li>
                                <li><a href="#">GEAR, APPAREL & BAGS</a></li>
                                <li><a href="#">COLLABORATION & CONCEPTS</a></li>
                                <li><a href="#">zGOLD & zSILVER</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOFTWARE</a>
                            <ul class="subnav">
                                <li><a href="#">CONTEXT GAME LAUNCHER</a></li>
                                <li><a href="#">SYNAPSE IOT DRIVERS</a></li>
                                <li><a href="#">CHROME RGB</a></li>
                                <li><a href="#">SYNAPSE 3 BETA</a></li>
                                <li><a href="#">SURROUND</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">COMMUNITY</a>
                            <ul class="subnav">
                                <li><a href="#">INSIDER</a></li>
                                <li><a href="#">ESPORTS</a></li>
                                <li><a href="#">DEVELOPERS</a></li>
                                <li><a href="#">CHROMA WORKSHOP</a></li>
                                <li><a href="#">RAZER MUSIC</a></li>
                                <li><a href="#">MEDIA & DOWNLOADS</a></li>
                            </ul>
                        </li>
                        <li><a href="#">SUPPORT</a></li>
                    </ul>
                
                </div>
                <div id="icon-holder">
            
                    <img src="images/search.png" alt="search icon">
                    <img src="images/cart.png" alt="cart icon">
                    <img src="images/flag.png" alt="flag icon"><span>US</span>
                
                </div>
            
            </div>
        </nav>
    </header>
    
    <section id="animated-slider">
        <h6>ANIMATED SLIDER</h6>
    
         <div class="cycle-slideshow" data-cycle-caption="#slider-caption" data-cycle-caption-template="{{cycleParent}} <br> {{cycleChild}}">
            <div class="cycle-pager"></div>
            
            <img src="images/image-slider-1.jpg" data-cycle-parent="Slider 1 Parent" data-cycle-child="Slider 1 Child" alt="image slider 1">
            <img src="images/image-slider-2.jpg" data-cycle-parent="Slider 2 Parent" data-cycle-child="Slider 2 Child" alt="image slider 2">
            <img src="images/image-slider-3.jpg" data-cycle-parent="Slider 3 Parent" data-cycle-child="Slider 3 Child" alt="image slider 3">
            <img src="images/image-slider-4.jpg" data-cycle-parent="Slider 4 Parent" data-cycle-child="Slider 4 Child" alt="image slider 4">
        
        <div id="slider-caption"></div>
        </div>
    </section>
    
    <section id="events">
        <h6>Latest Events & Info</h6>
        <div class="container">
            <div class="events-block">
            
                <img src="images/image-01.png" alt="image 01">
                
                <div class="events-caption">
                <p>Heading 1</p>
                <p>Heading 1</p>
                </div>
            
            </div>
            <div class="events-block">
            
                <img src="images/image-02.png" alt="image 02">
                
                <div class="events-caption">
                <p>Heading 2</p>
                <p>Heading 2</p>
                </div>
                    
            </div>
            <div class="events-block">
            
                <img src="images/image-03.png" alt="image 03">
                
                <div class="events-caption">
                <p>Heading 3</p>
                <p>Heading 3</p>
                </div>
                    
            </div>
            <div class="events-block">
            
                <img src="images/image-04.png" alt="image 04">
                
                <div class="events-caption">
                <p>Heading 4</p>
                <p>Heading 4</p>
                </div>
                    
            </div>
        </div>
    
    </section>
    
    <footer>
        <div id="footerBanner">
        
            <img src="images/image-5.jpg" alt="footer Banner image">
            
            <div class="bannerCaption">
            
                <p>Enter our epic giveaways now and score tons of Razer prizes ></p>
            
            </div>
            
        </div>
        <div id="backtoTop">
        
            <p>^</p>
            <p>Back to top</p>
            
        </div>
        <div id="socialNetwork">
        
            <img src="images/facebook.png" alt="facebook icon">
            <img src="images/twitter.png" alt="twitter icon">
            <img src="images/instagram.png" alt="instagram icon">
        
        </div>
        <div id="findUs">
        
            <p>FOR GAMERS. BY GAMERS. &trade;</p>
            
                <ul>
                    <li><a href="#">About Razer</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Store Locator</a></li>
                    <li><a href="#">Affiliate</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">RazerStore.com</a></li>
                </ul>
        
        </div>
        <div id="copyright">
        
            <p>Copyright &copy; 2017 Razer Inc. All rights reserved. | Terms and Conditions | Privacy Policy</p>
        
        </div>
    </footer>
    
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jquery.cycle2.min.js"></script>
    <script src="js/ROSE.js"></script>
    
</body>
</html>









<!--

body{
    width: 1260px;
    margin: 0 auto;
    font-family: Arial;
    border: 1px solid black;
}
/************************************************************/
header,nav{
    display: block;
    width: 100%;
    background-color: #222222;
}
#nav-wrapper{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    background-color: #222222;
}
/********************************/
#burger{
    display: none;
}
#logo{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}
#logo img{
    display: block;
    width: 150px;
    height: 25px;
    margin: 0 auto;
    padding: 0;
}
#navbar{
    display: inline-block;
    vertical-align: middle;
    width: 64%;
    margin: 0;
    padding: 0;
}
#navbar ul.subnav{
    display: none;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #878787;
}
#navbar ul li a:hover{
    color: white;
}
#icon-holder{
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    text-align: center;
}
#icon-holder img{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0 5px;
}
#icon-holder span{
    color: #878787;
}
/*********************************************************/
section h6{
    display: none;
}
#animated-slider, .cycle-slideshow{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.cycle-slideshow img{
    display: block;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}
#slider-caption{
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 799;
    top: 50px;
    color: white;
}
.cycle-pager{
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 699;
    bottom: 25px;   
}
.cycle-pager span{
    display: inline-block;
    font-size: 1%;
    background-color: #acacac;
    padding: 1px 20px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
.cycle-pager span.cycle-pager-active{
    background-color: #01cd01;
}
/**************************************************/
#events{
    display: block;
    width: auto;
    padding: 5px 5px 30px 5px;
    margin: 0;
    background-color: #222222;
}
.container{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
#events .events-block{
    display: inline-block;
    width: 24.7%;
    height: auto;
    background-color: #111111;
    padding: 0;
    margin: 0;
}
#events .events-block img{
    display: block;
    width: 100%;
    height: 186px;
    padding: 0;
    margin: 0;
}
.events-caption{
    display: block;
    width: 98%;
    padding: 1%;
    margin: 0;
}
.events-caption p{
    margin: 0;
    padding: 3px 0;
    color: #878787;
}
/*****************************************************/
footer{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #222222;
}
#footerBanner{
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}
#footerBanner img{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#footerBanner .bannerCaption{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 25px;
}
#footerBanner .bannerCaption p{
    padding: 0;
    margin: 0;
    color: #0b9620;
}
#backtoTop{
    display: none;
}
#socialNetwork{
    display: block;
    width: 100%;
    padding: 40px 0 0 0;
    margin: 0;
    text-align: center;
}
#socialNetwork img{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0 5px;
} 
#findUs{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#findUs p{
    padding: 0;
    margin: 10px 0;
    text-align: center;
    color: #44d62c;
}
#findUs ul{
    display: block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
#findUs ul li{
    display: inline-block;
    margin: 0 auto;
}
#findUs ul li a{
    display: block;
    padding: 10px 15px;
    margin: 0;
    text-decoration: none;
    color: #999999;
}
#copyright{
    display: block;
    width: 100%;
    text-align: center;
}
#copyright p{
    padding: 0;
    margin: 0;
    color: #999999;
    font-size: 80%;
}

-->