body{
	font-family: arial;
	padding: 0;
	margin: 0 auto;
	width: 1260px;
}
.container{
	display: block;
	padding: 0;
	margin: 0 auto;
	height: auto;
	width: 100%;
}
a{
	text-decoration: none; 
}
/* Website Heading (tool tip) section */
.website-header{
	display: block;
	width: 100%;
	height: auto;
}
.website-header ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #e1e1e1;
}
.website-header ul li{
	float: left; 
}
.website-header ul li a{
	display: block;
	padding: 5px 10px;
	margin: 0;
	color: gray;
	font-size: 75%;
}
.website-header ul li a:hover{
	color: black;
}
.website-header ul li img{
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
.website-header .website-header-right{
	float: right;
}
/* Swatch Navigation Bar (with Logo) */
nav{
	display: block;
	width: 100%;
	padding: 30px 0px;
	margin: 0 auto;
}
nav ul{
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
nav ul li{
	float: left
}
nav ul li a{
	display: block;
	padding: 10px 15px;
	color: gray;
	font-size: 125%;
}
/* Swatch Navigation Bar (Dropdown content) */
.sub-nav{
	display: none;
	position: absolute;
	z-index: 299;
}
nav ul li:hover .sub-nav{
	display: block;
}
nav ul li:hover .sub-nav li{
	float: none;
}
nav ul li:hover .sub-nav li a{
	display: block;
	background-color: white;
	color: gray;
	font-size: 100%;
}
nav ul li:hover .sub-nav li a:hover{
	color: black;
}
/* Website Animated Slideshow (using provided JS) */
.cycle-slideshow{
	display: block;
	width: 1260px;
	height: auto;
	padding: 0;
	margin: 0 auto;
}
.cycle-slideshow img{
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	height: 560px;
}
.cycle-pager{
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 299;
	overflow: hidden;
}
.cycle-pager span{
	font-size: 1%;
	cursor: pointer;
	display: inline-block;
	width: 19.8%;
	height: 15px;
	margin: 0 0.1%;
	color: gray;
	background-color: gray;
}
.cycle-pager span.cycle-pager-active{
	background-color: red;
	color: green;
}
/* Website Main Content (News & Event) */
section{
	padding: 30px 0 0 0;
}
.content-row{
	display: block;
	width: 100%;
	padding: 15px 0 10px 0;
	margin: 0 auto;
}
.block-details{
	display: inline-block;
	width: 32%;
	padding: 15px 6px;
	margin: 0; 
}
.block-details a{
	color: black;
}
.block-details img{
	display: block;
	width: 100%;
	height: auto;
}
.block-details h3,h5{
	padding: 10px 0 0 0;
	margin: 0;
}
.block-details h3{
	font-size: 140%;
}
.block-details h5{
	color: gray;
}
.block-details .active-link{
	color: red;
}
/* Website Footer (Quicklink & Follow-Us & About-Us & Copyright) Section */
/***** Quick Link Section *****/
footer{
	display: block;
	padding: 10px 0;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.quick-links{
	display: block;
	width: 100%;
	height: auto;
	padding: 100px 0 0 0;
	margin: 0;
}
.quick-links h2{
	text-align: left;
	padding: 5px 0;
	margin: 0;
}
.quick-links .footer-navigation{
	display: inline-block;
	width: 33%;
}
.footer-navigation ul{
	text-align: left;
	list-style-type: none;
	padding: 0 50px 0 0;
	margin: 0 auto;
	overflow: hidden;
}
.footer-navigation ul li a{
	display: block;
	width: 100%;
	color: gray;
	font-size: 85%;
	padding: 8px 15px;
	border-top: 2px dotted lightgray;
}
.footer-navigation ul li a:hover{
	color: black;
}
.footer-navigation ul li a img{
	vertical-align: middle;
	padding: 0 10px;
	margin: 0;
}
/*****  Follow-Us Section *****/
.follow-us{
	display: block;
	width: 100%;
	padding: 30px 0; 
	margin: 0 auto;
	text-align: center;
}
.follow-us img{
	display: inline-block;
	width: 50px;
	padding: 0 5px;
	height: 50px;
}
.follow-us p{
	font-size: 150%;
	color: gray;
}
/***** About-Us Section *****/
.about-us{
	display: block;
	width: 100%;
	height: auto;
	padding: 15px 0;
	text-align: center;
}
.about-us ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.about-us ul li{
	display: inline-block;
}
.about-us ul li a{
	display: block;
	color: gray;
	padding: 5px 15px;
	font-size: 75%;
}
.about-us ul li a:hover{
	color: black;
}
/***** Copyright Section *****/
.copyright{
	display: block;
	width: 100%;
	padding: 15px 0 5px 0;
	margin: 0 auto;
	text-align: center;
}
.copyright p{
	font-size: 75%;
	color: gray;
}
