@font-face{
	font-family: RalewayBold;
	src: url('../font/Raleway-Bold.ttf');
}
@font-face{
	font-family: RalewayLight;
	src: url('../font/Raleway-Light.ttf');
}
@font-face{
	font-family: RalewayMedium;
	src: url('../font/Raleway-Medium.ttf');
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
/******************************************/
/******************************************/
/******************************************/
body{
	width: 1240px;
	margin: 0 auto;
}
header{
	height: 100%;
	padding: 7% 0;
	width: 240px;
	position: fixed;
	z-index: 1;
	background-color: brown;
}
#profile{
	display: block;
}
#profile img{
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	border: .5rem solid rgb(255,255,255,0.5);
}
header nav{
	margin: 30px 0 0;
}
header nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
header nav ul li{
	text-align: center;
	margin: 10px 0;
}
header nav ul li a{
	font-family: RalewayMedium;
	text-decoration: none;
	color: white;
}
header nav ul li a:hover{
	color: black;
}
/******************************************/
/******************************************/
/******************************************/
h1{
	font-size: 400%;
	font-family: RalewayBold;
}
h1 span{
	color: brown;
}
h2{
	font-size: 250%;
	font-family: RalewayBold;
}
h3{
	font-size: 140%;
	font-family: RalewayMedium;
}
h4{
	color: gray;
	font-family: RalewayMedium;
}
h4 span{
	margin: 0 5px;
}

#main-resume{
	display: block;
	margin-left: 240px;
	width: 1000px;
}
#about,#education,#skill,#work,#contact,#others{
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid gray;
}

#about{
	padding: 30vh 5%;
	min-height: 40vh
}
#about p{
	margin: 25px 0;
	font-family: RalewayLight;
	line-height: 1.6;
	letter-spacing: 0.1rem;
}

#education{
	padding: 10% 5%;
}
#education .block{
	display: inline-block;
	width: 74%;
	margin: 15px 0;
}
#education .block p{
	margin: 10px 0;
	color: black;
	font-family: RalewayLight;
	line-height: 1.4;
}
h5.date{
	display: inline-block;
	font-size: 100%;
	width: 25%;
	margin: 15px 0;
	vertical-align: top;
	color: brown;
	text-align: right;
	font-family: RalewayMedium;
}

#skill{
	padding: 10% 5%;
}
#skill h3{
	margin: 25px 0 25px 15px;
}
#skill .block{
	display: block;
	padding: 15px 0;
}
#skill .block h4{
	padding-left: 45px;
	padding-bottom: 10px;
}
#skill .block div{
	width: 90%;
	margin: 0 auto;
	background-color: gray;
	height: 30px;
	border-radius: 50px;
}
#skill .block div div{
	width: 0;
	margin: 0;
	height: 30px;
	background-color: cornflowerblue;
}

#work{
	padding: 10% 5%;
}
#work .block{
	display: inline-block;
	width: 74%;
	margin: 15px 0;
}
#work .block p{
	font-family: RalewayLight;
	margin-top: 15px;
	line-height: 1.5;
}

#contact{
	padding: 20% 5%;
}
#contact h2{
	padding-bottom: 15px;
}
#contact h3{
	padding-top: 15px;
	padding-left: 15px;
}
#contact p{
	font-weight: bold;
	color: gray;
	font-family: RalewayLight;
	padding-left: 15px;
}
#contact p:first-of-type{
	padding-bottom: 15px;
}
#contact .block{
	margin: 15px 0 0 15px;
}
#contact .block img{
	width: 40px;
	margin: 5px;
}

#others{
	padding: 14% 5%;
}
#others h3{
	margin: 35px 0;
}
#others ul{
	list-style-type: none;
}
#others ul li{
	font-family: RalewayLight;
	font-weight: bold;
	margin: 5px 0;
}
#others ul li span{
	color: brown;
}


@media screen and (max-width: 768px){
	body{
		width: 768px;
	}
	header{
		height: auto;
		padding: 0;
		width: 100%;
		position: relative;
		z-index: 0;
		background-color: brown;
	}
	#profile{
		display: none;
	}
	#burger{
		height: auto;
		display: block;
		width: 50px;
		background-color: black;
		padding: 15px;
	}
	#burger div{
		height: 10px;
		width: 100%;
		background-color: gray;
		margin: 5px 0;
		border-radius: 25px;
	}
	header nav{
		padding: 5px 0;
	}
	header nav ul li{
		text-align: left;
		margin: 10px 0;
		padding-left: 25px;
	}
	#main-resume{
		display: block;
		margin-left: 0px;
		width: 100%;
	}
}

@media screen and (max-width: 360px){
	body{
		width: 360px;
	}
	#main-resume{
		width: 100%;
	}
	#education .block{
		display: block;
		width: 100%;
	}
	#education h5.date{
		display: block;
		width: 100%;
		text-align: left;
	}
	#work .block{
		display: block;
		width: 100%;
	}
	#work h5.date{
		display: block;
		width: 100%;
	}
}