body{
    width: 1260px;
    margin: 0 auto;
    font-family: Arial;
    border: 1px solid black;
}
/************************************************************/
header,nav{
    display: block;
    width: 100%;
    background-color: #222222;
}
#nav-wrapper{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    background-color: #222222;
}
/********************************/
#burger{
    display: none;
}
#logo{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}
#logo img{
    display: block;
    width: 150px;
    height: 25px;
    margin: 0 auto;
    padding: 0;
}
#navbar{
    display: inline-block;
    vertical-align: middle;
    width: 64%;
    margin: 0;
    padding: 0;
}
#navbar ul.subnav{
    display: none;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #878787;
}
#navbar ul li a:hover{
    color: white;
}
#icon-holder{
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    text-align: center;
}
#icon-holder img{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0 5px;
}
#icon-holder span{
    color: #878787;
}
/*********************************************************/
section h6{
    display: none;
}
#animated-slider, .cycle-slideshow{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.cycle-slideshow img{
    display: block;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}
#slider-caption{
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 799;
    top: 50px;
    color: white;
}
.cycle-pager{
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 699;
    bottom: 25px;   
}
.cycle-pager span{
    display: inline-block;
    font-size: 1%;
    background-color: #acacac;
    padding: 1px 20px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
.cycle-pager span.cycle-pager-active{
    background-color: #01cd01;
}
/**************************************************/
#events{
    display: block;
    width: auto;
    padding: 5px 5px 30px 5px;
    margin: 0;
    background-color: #222222;
}
.container{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
#events .events-block{
    display: inline-block;
    width: 24.7%;
    height: auto;
    background-color: #111111;
    padding: 0;
    margin: 0;
}
#events .events-block img{
    display: block;
    width: 100%;
    height: 186px;
    padding: 0;
    margin: 0;
}
.events-caption{
    display: block;
    width: 98%;
    padding: 1%;
    margin: 0;
}
.events-caption p{
    margin: 0;
    padding: 3px 0;
    color: #878787;
}
/*****************************************************/
footer{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #222222;
}
#footerBanner{
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}
#footerBanner img{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#footerBanner .bannerCaption{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 25px;
}
#footerBanner .bannerCaption p{
    padding: 0;
    margin: 0;
    color: #0b9620;
}
#backtoTop{
    display: none;
}
#socialNetwork{
    display: block;
    width: 100%;
    padding: 40px 0 0 0;
    margin: 0;
    text-align: center;
}
#socialNetwork img{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0 5px;
} 
#findUs{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#findUs p{
    padding: 0;
    margin: 10px 0;
    text-align: center;
    color: #44d62c;
}
#findUs ul{
    display: block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
#findUs ul li{
    display: inline-block;
    margin: 0 auto;
}
#findUs ul li a{
    display: block;
    padding: 10px 15px;
    margin: 0;
    text-decoration: none;
    color: #999999;
}
#copyright{
    display: block;
    width: 100%;
    text-align: center;
}
#copyright p{
    padding: 0;
    margin: 0;
    color: #999999;
    font-size: 80%;
}



@media screen and (max-width:360px){
    
    body{
        width: 360px;
        margin: 0;
    }
    #nav-wrapper{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #burger{
        display: inline-block;
        vertical-align: middle;
        width: 10%;
        padding: 2%;
        margin: 0;
    }
    #burger span{
        display: block;
        background-color: white;
        width: 100%;
        height: 6px;
        margin: 3px 0;
        border-radius: 4px;
    }
    #logo{
        width: 60%;
    }
    #icon-holder{
        width: 24%;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    #icon-holder img{
        width: 25px;
        height: 25px;
        padding: 0;
    }
    #icon-holder img:last-of-type, #icon-holder span{
        display: none;
    }
    #navbar{
        display: block;
        width: 100%;
    }
    #navbar ul li{
        float: none;
        display: block;
        width: 100%;
        border-bottom: 1px solid gray;
    }
    #navbar ul.open{
        display: none;
        height: 0px;
    }
    /**********************************/
    .cycle-slideshow img{
        height: 400px;
        object-fit: cover;
    }
    .cycle-pager span{
        margin: 0 3px;
    }
    #events .events-block{
        display: block;
        width: 100%;
    }
    #footerBanner img{
        height: 150px;
        object-fit: cover;
    }
    #backtoTop{
        padding: 5px 0 15px 0;
        display: block;
        text-align: center;
        border-bottom: 1px solid gray;
    }
    #backtoTop p{
        padding: 0;
        margin: 6px 0px;
        color: #888685;
    }
    #socialNetwork{
        padding: 20px 0 0 0;
    }
    #findUs{
        border-bottom: 1px solid gray;
    }
    #findUs p{
        text-align: left;
        padding: 3px 0 0 5px;
    }
    #findUs ul{
        text-align: left;
    }
    #findUs ul li{
        display: block;
        margin: 0;
        padding: 3px 5px;
        width: auto;
    }
    #copyright{
        padding: 10px 5px;;
        text-align: left;
    }
}